<h1><%= title %></h1>

<!-- Flash Messages -->
<% if (success_messages.length > 0) { %>
  <% success_messages.forEach(msg => { %>
    <div class="flash-success"><%= msg %></div>
  <% }) %>
<% } %>

<% if (error_messages.length > 0) { %>
  <% error_messages.forEach(msg => { %>
    <div class="flash-error"><%= msg %></div>
  <% }) %>
<% } %>

<!-- Validation Errors -->
<% if (errors && errors.array().length > 0) { %>
  <ul class="error-list">
    <% errors.array().forEach(error => { %>
      <li><%= error.msg %></li>
    <% }) %>
  </ul>
<% } %>

<div class="form-container login-form">
  <form method="post" action="/account/login" novalidate>
    <label for="account_email">Email</label>
    <input
      type="email"
      id="account_email"
      name="account_email"
      required
      autocomplete="email"
      value="<%= account_email || '' %>"
    >

    <label for="account_password">Password</label>
    <input
      type="password"
      id="account_password"
      name="account_password"
      required
      autocomplete="current-password"
    >

    <label class="show-password">
      <input type="button" id="togglePassword" value="Show password">
    </label>

    <button type="submit">Login</button>

    <p class="signup-link">
      No account? <a href="/account/register">Sign up</a>
    </p>
  </form>
</div>

<!-- Show/Hide Password Script -->
<script type="module">
  import { setupShowPassword } from '/js/showPassword.js';
  setupShowPassword('#togglePassword', '#account_password');
</script>
