<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("../partials/head") %>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <div id="wrapper">
      <%- include("../partials/header") %>
      <nav class="navbar">
        <div class="logo"><a href="/">CSE Motors</a></div>
        <div id="nav-links">
          <%- nav %>
        </div>
      </nav>
      <main>
        <%- body %>
      </main>
      <%- include("../partials/footer") %>
    </div>
    <script src="/js/nav.js" defer></script>

  </body>
</html>
